<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Lista de Clientes</h1>
            <nav>
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('cadastro_livro') }}">Cadastro de Livro</a>
                <a href="{{ url_for('cadastro_cliente') }}">Cadastro de Cliente</a>
                <a href="{{ url_for('cadastro_funcionario') }}">Cadastro de Funcionário</a>
                <a href="{{ url_for('emprestimo') }}">Empréstimo</a>
                <a href="{{ url_for('livros_emprestados') }}">Livros Emprestados</a>
                <a href="{{ url_for('livros') }}">Livros</a>
                <a href="{{ url_for('clientes') }}">Clientes</a>
                <a href="{{ url_for('funcionarios') }}">Funcionários</a>
            </nav>
        </div>
    </header>
    <main>
        <h1>Lista de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Data de Cadastro</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.ClienteID }}</td>
                    <td>{{ cliente.Nome }}</td>
                    <td>{{ cliente.Email }}</td>
                    <td>{{ cliente.Telefone }}</td>
                    <td>{{ cliente.DataCadastro }}</td>
                    <td>
                        <form action="{{ url_for('excluir_cliente', cliente_id=cliente.ClienteID) }}" method="POST" style="display:inline;">
                            <button class="btn" type="submit" onclick="return confirm('Tem certeza que deseja excluir este cliente?');">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="btn">Voltar para o Acervo</a>
    </main>
    <footer>
        <p>&copy; 2024 Biblioteca Comunitária de Porecatu. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
